<?xml version="1.0" encoding="UTF-8"?>
<configuration status ="WARM">
	<!-- Define custom levels before using them for filtering below. -->
	<CustomLevels>
	  <CustomLevel name="DIAG" intLevel="350" />
	  <CustomLevel name="NOTICE" intLevel="450" />
	  <CustomLevel name="VERBOSE" intLevel="550" />
	</CustomLevels>
	
    <appenders>
    	<Console name="Console" target="SYTEMOUT">
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%leveld] %level %logger{36} - %msg %n</pattern>
		</Console>
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <File name="MyFile" fileName="logs/app.log">
			<PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
		</File>
    </appenders>
    <loggers>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
	    <logger name="LOG_STASH" level="info" additivity="false">
	        <appender-ref ref="LogstashAppender"/>
	    </logger>
	    <logger name="jdbc" level="OFF"/>
	  
	    <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">>
	        <!-- <appender-ref ref="STDOUT" /> -->
	        <appender-ref ref="FILE" />
	    </logger>  
	  
	    <logger name="jdbc.resultsettable" level="DEBUG" additivity="false">> 
	        <!-- <appender-ref ref="STDOUT" />  -->
	        <appender-ref ref="FILE" />
	    </logger>
	  
	    <root level="INFO">
	        <!-- <appender-ref ref="LogstashAppender" /> -->
	        <!-- <appender-ref ref="STDOUT" /> -->
	        <AppenderRef ref="Console" level="diag" />
      		<AppenderRef ref="MyFile" level="trace" />
	    </root>
    </loggers>
</configuration>