<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="logs" />
	<property name="LOG_DIR_AMQP" value="${LOG_DIR}/logs_amqp" />
	<property name="LOG_DIR_DB" value="${LOG_DIR}/logs_db" />
	<property name="LOG_DIR_AUDIT" value="${LOG_DIR}/logs_audit" />

	<property name="LOG_PATH_BASE_NAME" value="${LOG_DIR}/iot_connected_home.log" />
	<property name="LOG_PATH_SIP_NAME" value="${LOG_DIR}/iot_connected_home_sip.log" />
	<property name="LOG_PATH_AMQP_NAME" value="${LOG_DIR_AMQP}/iot_connected_home_amqp.log" />
	<property name="LOG_PATH_DB_NAME" value="${LOG_DIR_DB}/iot_connected_home_db.log" />
	<property name="LOG_PATH_AUDIT_NAME" value="${LOG_DIR_AUDIT}/iot_connected_home_audit.log" />
	<timestamp key="bySecond" datePattern="yyyy-MM-dd HH:mm:ss" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Target" value="System.out" />
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{TRACE_ID}] %-3level %logger{5} - %msg %n</pattern>
		</layout>
	</appender>

	<appender name="LOG_BASE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_BASE_NAME}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{TRACE_ID}] %-3level %logger{5} - %msg %n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/iot_connected_home.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>400MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory> 
		</rollingPolicy>
	</appender>

	<appender name="LOG_SIP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_SIP_NAME}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{TRACE_ID}] %-3level %logger{5} - %msg %n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/iot_connected_home_sip.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory> 
		</rollingPolicy>
	</appender>
	
    <appender name="LOG_AMQP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">        
        <file>${LOG_PATH_AMQP_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일이 하루에 한개씩 생성된다 -->
            <fileNamePattern>${LOG_DIR_AMQP}/iot_connected_home_amqp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory> 
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{TRACE_ID}] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">        
        <file>${LOG_PATH_AUDIT_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일이 하루에 한개씩 생성된다 -->
            <fileNamePattern>${LOG_DIR_AUDIT}/iot_connected_home_audit.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory> 
        </rollingPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter"> 
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator"> 
				<marker>AUDIT</marker> 
			</evaluator> 
			<OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
		</filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{TRACE_ID}] %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

     <appender name="LOG_DB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
     	<file>${LOG_PATH_DB_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일이 하루에 한개씩 생성된다 -->            
            <fileNamePattern>${LOG_DIR_DB}/iot_connected_home_db.%d{yyyy-MM-dd}.%i.log</fileNamePattern>            
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{TRACE_ID}] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>
    
	<logger name="com.ht.connected.home.backend.sip" additivity="false" level="DEBUG">
	  	<appender-ref ref="LOG_SIP_FILE" />
	</logger>
	
	<logger name="com.ht.connected.home.backend.controller.mqtt.ConsumerListener" level="DEBUG">
		<appender-ref ref="LOG_AMQP_FILE" />
	</logger>
	
	<logger name="com.ht.connected.home.backend.common.MqttCommon" level="DEBUG">
		<appender-ref ref="LOG_AMQP_FILE" />
	</logger>

	<!-- Raw DATABASE log -->
	<!-- SQL 결과 조회된 데이터의 table을 로그로 남긴다. -->
	<logger name="jdbc.resultsettable" level="DEBUG">
		<appender-ref ref="LOG_DB_FILE" />
		<!-- <appender-ref ref="console" /> -->
	</logger>
	<!--SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->
	<logger name="jdbc.sqltiming" level="DEBUG">
		<appender-ref ref="LOG_DB_FILE" />
	</logger>

	<logger name="jdbc.sqlonly" level="OFF"/>

	<logger name="com.ht.connected.home.backend" level="DEBUG">
		<appender-ref ref="LOG_AUDIT_FILE" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="LOG_BASE_FILE" />
		<appender-ref ref="console" />
	</root> 
    
</configuration>