<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="logs" />
	<property name="LOG_PATH_NAME" value="${LOG_DIR}/iot_connected_home.log" />
	<property name="LOG_PATH_NAME_SIP" value="${LOG_DIR}/iot_connected_home_sip.log" />
	<property name="LOG_MQTT_PATH_NAME" value="${LOG_DIR}/iot_connected_home_mqtt.log" />
	<timestamp key="bySecond" datePattern="yyyy-MM-dd HH:mm:ss" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the hubType ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
		</encoder>
	</appender>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Target" value="System.out" />
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-3level %logger{5} - %msg %n</pattern>
		</layout>
	</appender>
	<appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_NAME}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-3level %logger{5} - %msg %n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/iot_connected_home.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>400MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<appender name="FileSip" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_NAME_SIP}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-3level %logger{5} - %msg %n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/iot_connected_home_sip.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<appender name="File_mqtt" class="ch.qos.logback.core.rolling.RollingFileAppender">
	   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <fileNamePattern>${LOG_DIR}_mqtt/iot_connected_home_mqtt.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
           <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
		    <!-- <level>INFO</level> -->
		    <evaluator name="loggingTaskMqtt">
			    <expression>
	                event.getThreadName().contains("")
	            </expression>
	        </evaluator>
			<onMatch>ACCEPT</onMatch>
			<!-- <onMismatch>DENY</onMismatch> -->
		</filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-3level %logger{5} %msg%n
             </Pattern>
        </encoder>
       
    </appender>
    <appender name="File_amqp" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일이 하루에 한개씩 생성된다 -->
            <fileNamePattern>${LOG_DIR}_amqp/iot_connected_home_amqp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!-- <level>INFO</level> -->
            <evaluator name="loggingTaskMqtt">
                <expression>
                    event.getThreadName().contains("ConsumerListener")
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <!-- <onMismatch>DENY</onMismatch> -->
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>
     <appender name="File_db" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일이 하루에 한개씩 생성된다 -->
            <fileNamePattern>${LOG_DIR}_db/iot_connected_home_db.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>
	<!--jdbc.sqlonly : SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 
		대체된 SQL문이 보여진다. -->
	<logger name="jdbc.sqlonly" level="DEBUG">
	   <appender-ref ref="File_db" />
	   <appender-ref ref="console" />
	</logger>
	<!--SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->
	<logger name="jdbc.sqltiming" level="DEBUG">
		<appender-ref ref="console" />
	</logger>
	<logger name="com.ht.connected.home.backend.sip" additivity="false" level="debug">
  	<appender-ref ref="FileSip" />
	</logger>
	<logger name=" com.ht.connected.home.backend.controller.mqtt" additivity="false" level="debug">
  	<appender-ref ref="File_amqp" />
	</logger>
	<!-- ResultSet을 제외한 모든 JDBC 호출 정보를 로그로 남긴다. 많은 양의 로그가 생성되므로 특별히 JDBC 문제를 
		추적해야 할 필요가 있는 경우를 제외하고는 사용을 권장하지 않는다. -->
	<!-- <logger name="jdbc.audit" level="DEBUG"> <appender-ref ref="console" 
		/> </logger> -->
	<!-- ResultSet을 포함한 모든 JDBC 호출 정보를 로그로 남기므로 매우 방대한 양의 로그가 생성된다. -->
	<!-- <logger name="jdbc.resultset" level="DEBUG"> <appender-ref ref="console" 
		/> </logger> -->
	<logger name="jdbc.connection" level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="File_db" />
	</logger>
	<!-- SQL 결과 조회된 데이터의 table을 로그로 남긴다. -->
	<logger name="jdbc.resultsettable" level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="File_db" />
	</logger>
	<logger name="com.ht.connected.home.backend.config.service.MqttConfig" level="DEBUG" >
        <!-- <appender-ref ref="LogstashAppender" /> -->
        <appender-ref ref="File_mqtt" />
    </logger>
	<root level="DEBUG">
		<!-- <appender-ref ref="LogstashAppender" /> -->
		<appender-ref ref="console" />
	</root>
   
	<root level="INFO">
		<!-- <appender-ref ref="LogstashAppender" /> -->
		<appender-ref ref="File" />
    </root>
</configuration>